@{
    ViewData["Title"] = "Home Page";
}

<head>
	<title>My Page</title>
	<link rel="stylesheet" href="path/to/styles.css">
</head>
<body>
	<div class="homescreen">
		<img src="~/images/homescreen.png" alt="My Image">
	</div>
</body>